@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  margin: 0;
  padding: 0;
  @apply bg-slate-900;
  color-scheme: dark;
  scroll-behavior: smooth;
}
p {
  @apply text-neutral-400 text-justify;
}
span {
  @apply text-white;
}
#circle {
  position: fixed;
  transform: translate(-50%, -50%);
  @apply bg-gradient-to-br from-white/25 rounded-full w-[400px] h-[400px] sm:w-[600px] sm:h-[600px]  md:w-[800px] md:h-[800px] lg:w-[1000px] lg:h-[1000px];
}
